<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Search the Top News Sources</title>
    </head>

    <body>
        <h5><a  class="float-right" href="/logout">Logout</a><h5>
        <h1 class = "text-center">Looking for specific article??</h1>
        <div class="container p-5 mb-4 bg-dark text-light" mw-80 mh-100">
            <div class="main">
                <form action="/bbc" method="POST">
                        {%csrf_token%}
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="text" class="form-control" placeholder="Search" id='searchbar' name='searchbar'/>
                        </div>
                            <button type="submit" id='searchbutton' class="btn btn-primary">Search</button>
                            <div id='searchresults'></div>
                    </div>
                </form>
            </div>
            
        </div>
       
        <footer>
            <div class='pastsearchesContainer'>
                <h2>Past Searches</h2>
                <div class='pastsearches'></div>
                <ul>
                <form action="/deletesearches" method="POST">
                    {%csrf_token%}
                    <button type="submit">Delete past searches</button>
                </form>
                {%for search in  user.searches.all%}
                    <li>{{search.keyword}}</li>
                {% endfor %}
                </ul>
                </div>
            <div class='pastarticlesContainer'>
                <h2>Past Articles Saved</h2>
                <form action="/deletearticles" method="POST">
                    {%csrf_token%}
                    <button type="submit">Delete past articles</button>
                </form>
                <div class='pastarticles'>
                    <ul>
                    {% for article in  user.articles.all%}
                        <li><a href="{{article.url}}">{{article.name}}</a></li>
                    {% endfor %}
                    </ul>
            </div>
        </footer>
    </body>
    <script>
        const searchBar = document.getElementById('searchbar');
        const searchButton = document.getElementById('searchbutton');
        searchBar.addEventListener('input', e => {
            let searchString = e.target.value;
            searchButton.addEventListener('click', function(){
                const searchResults = document.getElementById('searchresults');
                if(searchString.length != '') {
                    searchResults.innerHTML = "Searching for " + searchString;
                }
                else{
                    searchResults.innerHTML = '';
                }
            });        
        });
    </script>
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>