@import "bootstrap";
@import "font-awesome";

html body {
    background-color: #9e9e9e;
}

.main {
    width: 50%;
    margin: 50px auto;
}

.button {
  transition-duration: 0.4s;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-radius: 5px;
  border-color: white;
  color: #DC3545;
  padding: 1.5px;
  font-size: 20px;
}

.button a{
  color: black;
  padding: 10px;
}

.button:hover {
  background-color: #DC3545;
  color: white;
}

nav{
  margin: 10px;
}

.container {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-radius: 4px;
  padding: 5px;
}

.text-center{
  color: #DC3545;
}